@charset "utf-8";
*{margin: 0;
  padding: 0;
}
body{
    min-width: 1300px;
}

a:active{color:#000;}
a:hover{color:#000;}
a:link{color:#000;}
a:visited{color:#000;}
a{text-decoration:none;}
.div{clear: both;}
.header{width: 1200px;
        margin: auto;
        padding-top: 30px;
}
.header span{
    width: 20px;
    border: 1px solid #666;
    color: #666;
}
.yuyan{float: right;}
.zw{width:45px;
    height:24px;
    border: 1px solid #e75826;
    font-size: 12px;
    color: #343c48;
    outline: none;
    background: #fff;
}
.yw{width:60px;
    height:24px;
    border: 1px solid #dedede;
    outline: none;
    background:#fff;
    margin-left: -4px;
    margin-top: -1px;
}
.sear{margin-left: 5px;}
.daohang{margin-top:33px;
         height: 50px;
         border-bottom:5px solid #e4e8ea;
}
.fenlei{width: 1200px;
        margin: auto;
        background: skyblue;
}
.daohang ul li{float: left;
               list-style: none;
               width: 16.5%;
               height: 50px;
               border-left:1px solid #d1d3d5;
               position: relative;
               text-align: center;
               line-height: 50px;
               transition: all 1s ease;
}
.doahang ul li a{
    display:inline-block;
    color:#312d2d;
}
.daohang ul li:hover .a{
	display:inline-block;
    border-bottom: 4px solid #e75826;
	height:50px;
    cursor:pointer;
}
.a5{
    border-bottom: 4px solid #e75826;
    height:50px;
    display:inline-block;
}

.daohang ul li:hover ul li a {
  border: 0;
  cursor:pointer;
}

.daohang ul li ul{
    width: 100%;
    transition: all 1s ease;
}
.fenlei li ul li:hover{
    color: salmon !important;
    transition: 0s ease;
    cursor:pointer;
}
.daohang ul li ul li{
    float: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0px;
    transition:all 1s ease;
}

.daohang ul li:hover #gywm{
    display:block;
    font-size: 13px;
    border: 0px;
    position: absolute;
    z-index: 5555;
    background: #fff;
    transition: all 5s ease;
    cursor:pointer;

}

#gywm{
    display: none;
}
.daohang ul li ul li a {
  display: block;
  font-size: 13px;
}
.section{
    clear: both;
    max-width: 1600px;
    margin: auto;
    text-align: center;
    padding: 0;
}
.banner01{
    width: 100%;
    
}

.weizhi{
    width: 80%;
    background:salmon;
    margin: auto;
}
.weizhi p{
    float: right;
    color: #888;
    font-size: 12px;
}
.cpdaohang{
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 80px;
    font-size: 15px;
    font-weight: bold;
    color: #888;
    border-bottom:5px solid #e4e8ea;
}
.cpdaohang ul{
    margin: auto;
    width: 60%;
    text-align: center;
}
.cpdaohang ul li{

    list-style: none;
    float: left;
    width: 25%;
    padding-bottom: 20px;
}
.cpdaohang ul li:hover{
    color: #e75826;
    transition: 1s ease;
    cursor:pointer;
}
.cpdaohangs{
    width: 100%;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 40px;
    background: #4c4c4c;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.cpdaohangs ul{
    margin: auto;
    width: 60%;
    text-align: center;
    padding-left: 5%;
}
.cpdaohangs ul li{

    list-style: none;
    margin: auto;
    float: left;
    width: 15%;
    font-size: 15px;
    color: #dfdfdf;
    font-weight: bold;
}
.cpdaohangs ul li:hover{
    color: #e75826;
    transition: 1s ease;
    cursor:pointer;
}
.inpro{
    margin-bottom: 40px;
}
.inptit{
    text-align: center;
    margin: 60px 0 35px;
}
.inptit span{
    font-size: 28px;
    color: #101011;
    display: block;
    background: url(../img/inpline.jpg) repeat-x center;
}
.inptit span .em {
  font-style: normal;
  display: inline-block;
  padding: 0 40px;
  background: #fff;
}
.lunbotu{
    width: 60%;
    clear: both;
    margin: auto;
    justify-content:space-around;
	display: flex;
    flex-flow: row inwrap;
}
.lb-div{
    float: left;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;
    width:30%;
}
.lunbotu img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.lb-img{
    width:100%;
    height: 100%;
    overflow: hidden;
}
.lunbotu p{
    width: 18%;
    font-size: 15px;
    text-align: center;
    font-size: 16px;
    height: 150px;
    background:rgba(231,88,38,0.8);
    position: absolute;
    min-width: 235px;
    display: none;
    transition:2s ease;
}
.lb-div:hover .lb-p{
    display: block;
    margin-top: -11%;
    cursor: pointer;
}

.lb-p span{
    top: 20%;
    position: relative;
}
.lb-p{
    font-size: 20px;
}
.lb-sp1{
    color: #888;
    font-size: 14px;
}

.yema{
    width: 70%;
    margin: auto;
    background: #f1f1f1;
    padding-bottom: 20px;
    margin-top: 5%;
}
.yema ul{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 27%;
}
.yema ul li{
    list-style: none;
    float: left;
    margin: auto;
    width: 6%;
    background: #f1f1f1;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.yema ul .shizi{
    width: 3%;

}
.shizi:hover{
    transform: scale(1.5,1.5);
    background: #fff;
    cursor:pointer;
}


.xinwen{
    width: 100%;
    background: #f7f7f7;
    margin: auto;
    height: 270px;
    margin-top: 3%;
}
.xinwen .xgxw{
    width: 70%;
    margin:auto;
}
.xg{
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 15px;
}
.hr{
    border-top:1px solid #dfdfdf;
}
.xw{
    width: 70%;
    margin: auto;
}
.lie2{
    width: 40%;
    float: left;    
}

.lie li ul{
    
    list-style: none;
    padding-top: 30px;
    padding-bottom: 40px;
    line-height: 30px;
    font-size: 13px;
    color: #666;
}
.lie li{
    list-style: none;
    font-size: 14px;
}
.li3{
    float: left;
    width: 40%;
}
.shijian{
    width: 10%;
    float: left;
}
.lie2 ul li:hover{
    color:#e75826;
    transition: 1s ease;
    cursor:pointer;
}
.li3 ul li:hover{
    color:#e75826;
    transition: 1s ease;
    cursor:pointer;
}






.footer{
    width: 100%;
    margin: auto;
    clear: both;
}
.footer ul{
    
    width: 100%;
    height: 50px;
    margin: auto;
    list-style: none;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
.fimg{
    margin-left: 20%;
    padding-top: 15px;
    color: #666;
}
.fdh{
    list-style:none;
    float: right;
    background: #e75826;
    margin-top: -36px;
    width: 15%;
    height: 100%;
    font-size: 18px;
    margin-right: 23.5%;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.dibu{
    width: 100%;
    margin: auto;
    clear: both;
}
.dibu .dibuul{
    width: 90%;
    list-style: none;
    float: left;
    padding-left: 10%;
    border-bottom: 1px solid #dfdfdf;
    margin: auto;
    
}
.dibuli ul{
    list-style: none;
}
.dibuul .dibuli{
    
    float: left;
    width: 10%;
    border-left: 1px solid #dfdfdf;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    line-height: 30px;
    color: #888;
    font-size: 12px;
    font-weight: bold;
}
.lid1{
    margin-left: 10%;
}
.sy{
    color: #e75826;
}
.dibuli ul li:hover{
    color: #e75826;
    transform: scale(1.1,1.1);
    cursor:pointer;
}
.banquan{
    clear: both;
    margin: auto;
    text-align: center;
    color: #666;
}
.banquan p{
    padding-top: 30px;
    font-size: 12px;
}
.yqlj{
    width: 70px;
}
